.App {
  text-align: center;
  height: 100vh;
}
.border-b-blue{
  border-bottom: 1px solid #3b82f6;
}

.border-blue-500{
  border-bottom: 2px solid #3b82f6;
}

.twthis {
  position: absolute !important;
  bottom: 50px !important;
  right: 20px !important;
  border-radius: 10px;
  z-index: 2342;
}